{% extends "layout_employees.html" %}
{% block title %}Inicio Corte{% endblock %}
{% block content %}
<div class="max-w-md mx-auto mt-20 px-4">
    <div class="emerald-border-top bg-white border border-slate-200 rounded-lg shadow-sm p-8">
        <h2 class="text-xl font-bold text-slate-800 mb-6">Apertura de Turno</h2>
        
        <form action="{{ url_for('sales.open_cash_register') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <div class="relative z-0 w-full mb-8 group">
                <select name="id_caja" required class="block py-2.5 px-0 w-full text-sm text-slate-900 bg-transparent border-0 border-b-2 border-slate-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-500 peer">
                    <option value="" disabled selected>Seleccione una caja...</option>
                    {% for caja in cajas %}
                        <option value="{{ caja.id }}">{{ caja.name }}</option>
                    {% endfor %}
                </select>
                <label class="absolute text-sm text-slate-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-emerald-600">Terminal de Venta</label>
            </div>

            <div class="relative z-0 w-full mb-10 group">
                <input type="number" step="0.01" name="open_amount" required class="block py-2.5 px-0 w-full text-sm text-slate-900 bg-transparent border-0 border-b-2 border-slate-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-500 peer" placeholder=" " />
                <label class="absolute text-sm text-slate-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-emerald-600">Monto Inicial (Fondo)</label>
            </div>

            <button type="submit" class="w-full emerald-btn py-3 rounded-lg font-bold shadow-md active:scale-95 transition-all">
                Confirmar Apertura
            </button>
        </form>
    </div>
</div>
{% endblock %}